* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0DFD5;
    text-align: center;
}

#container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 2px 2px 5px, black;
    font-size: 10vmin;
    color: gray;
    background-color: whitesmoke;
}

#restart {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: antiquewhite;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px red, -2px -2px 5px blue;
    cursor: pointer;
}

#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: antiquewhite;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px red, -2px -2px 5px blue;
    cursor: pointer;
}
#btn{
    padding-top: 30px;
    display: flex;
    gap: 70px;
    justify-content: center;
}